.products-container {
  max-width: 1300px;
  margin: 2rem auto;
  padding: 0 1rem;

  .top-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 1rem;

    input[type="text"] {
      flex: 1;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 1rem;
    }

    .btn-add {
      padding: 0.5rem 1rem;
      border-radius: 6px;
      background-color: var(--primary-color);
      color: #fff;
      border: none;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: var(--primary-color);
      }
    }
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    grid-auto-rows: 1fr; 
    justify-items: center;
  }

  .modal-content {
    background-color: #fff;
    width: 100%;
    text-align: center;

    h3 {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      color: #333;
    }

    p {
      margin-bottom: 1.5rem;
      font-size: 1rem;
      color: #555;
    }

    .modal-actions {
      display: flex;
      justify-content: center;
      gap: 1rem;

      button {
        padding: 0.5rem 1rem;
        border-radius: 6px;
        border: none;
        font-weight: 600;
        cursor: pointer;
        transition: 0.2s ease;

        &.btn-delete {
          background-color: #ff4d4d;
          color: #fff;

          &:hover {
            background-color: #cc0000;
          }
        }

        &.btn-cancel {
          background-color: #ccc;
          color: #000;

          &:hover {
            background-color: #999;
          }
        }
      }
    }
  }
}
.no-products {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin: 2rem 0;
}


@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
