:root {
    --primary-color: #3B82F6;  
    --secondary-color: #1e293b;
    --bg-color: #EAF8E7;
    --container-color: #ffffff;
    --grey-color: grey;
    --border-radius: 8px;
  }
  
  body.dark-theme {
    --primary-color: #3B82F6;    
    --secondary-color: #f1f5f9;
    --bg-color: #0f172a;
    --container-color: #1e293b;
    --grey-color: #475569;
  }
  
  
  
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    transition: background-color 0.3s, color 0.3s;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .main-content {
    flex: 1; 
  }
  